<%= simple_form_for(item,
                    wrapper: :horizontal_form) do |form| %>
  <%= form.input :item_number,
                 label: false,
                 placeholder: :translate,
                 required: false %>
  <%= form.input :item_description,
                 label: false,
                 placeholder: :translate,
                 required: false %>
  <%= form.association :unit_of_measure,
                       label: false,
                       label_method: :code,
                       prompt: :translate,
                       required: false,
                       value_method: :id %>
  <%= form.input :bill_of_material_uuid,
                 collection: BillOfMaterial.all,
                 label: false,
                 label_method: :code,
                 prompt: t('items.columns.bill_of_material'),
                 required: false,
                 value_method: :uuid %>
  <%= form.input :is_active,
                 as: :boolean,
                 input_html: {
                   checked: true,
                   class: 'form-check-input '
                 },
                 label_html: { class: 'form-check-label' },
                 required: false %>
  <div class='float-left'>
    <%= form.button :submit,
                    t('shared.buttons.save'),
                    class: 'btn btn-primary' %>
    <%= link_to t('shared.buttons.back'),
                items_path,
                class: 'btn btn-outline-secondary ml-2' %>
  </div>
<% end %>
