<div class="clearfix">
  <h1 class="float-left my-0"><%= t('.title') %></h1>
  <div class="float-right mt-2">
    <%= link_to t('shared.buttons.edit'),
                edit_item_path(item.id),
                class: 'btn btn-outline-secondary ml-2' %>
    <%= link_to t('shared.buttons.back'),
                items_path,
                class: 'btn btn-outline-primary ml-2' %>
  </div>
</div>

<hr />

<div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label font-weight-bold text-right">
      <%= t('activerecord.attributes.items.item_number') %>
    </label>
    <div class="col-sm-8">
      <p class="form-control-plaintext"><%= item.item_number %></p>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label font-weight-bold text-right">
      <%= t('activerecord.attributes.items.item_description') %>
    </label>
    <div class="col-sm-8">
      <p class="form-control-plaintext"><%= item.item_description %></p>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label font-weight-bold text-right">
      <%= t('activerecord.attributes.unit_of_measures.code') %>
    </label>
    <div class="col-sm-8">
      <p class="form-control-plaintext">
        <%= item.unit_of_measure_code %>
      </p>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label font-weight-bold text-right">
      <%= t('activerecord.attributes.bill_of_materials.code') %>
    </label>
    <div class="col-sm-8">
      <p class="form-control-plaintext">
        <%= item.bill_of_material_code %>
      </p>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label font-weight-bold text-right">
      <%= t('shared.labels.status') %>
    </label>
    <div class="col-sm-8">
      <p class="form-control-plaintext"><%= item.status %></p>
    </div>
  </div>
    <%= render partial: 'items/item_unit_of_measures/index',
               locals: { item: item } %>
</div>
